


 <!-- FOOTER -->
<footer class="footer pt-15">
<!-- Yandex.Metrika counter -->
<noscript><div><img src="//mc.yandex.ru/watch/28987490" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<!-- Copyright Bar -->
<section class="copyright ptb-15">
<div class="container">
    <p class="">
        © 2015 <b>Global Photography Awards</b> All Rights Reserved
        <br />
        <div class="col-md-12 mb-30">
        <ul class="link list-inline">
            <li><a href="{% url 'home' %}">Award</a></li>
            <li><a href="{% url 'photographers' %}">Photographers</a></li>
            <li><a href="{% url 'faqs' %}">FAQ</a></li>

            {% if not request.user.is_authenticated %}
            <li><a href="{% url 'user_register' %}">Register</a></li>
            <li><a href="{% url 'user_login' %}">Log in</a></li>
            {% else %}
            <li><a href="{% url 'my_profile' %}">Dashboard</a></li>
            {% endif %}

        </ul>
    </div>
    </p>
</div>
</section>
<!-- End Copyright Bar -->




</footer>
<!-- END FOOTER -->



<!-- Scroll Top -->
<a class="scroll-top">
<i class="fa fa-angle-double-up"></i>
</a>
<!-- End Scroll Top -->
