


 <!-- FOOTER -->
<footer class="footer pt-15">
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
(w[c] = w[c] || []).push(function() {
try {
w.yaCounter28987490 = new Ya.Metrika({id:28987490,
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true});
} catch(e) { }
});

var n = d.getElementsByTagName("script")[0],
s = d.createElement("script"),
f = function () { n.parentNode.insertBefore(s, n); };
s.type = "text/javascript";
s.async = true;
s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

if (w.opera == "[object Opera]") {
d.addEventListener("DOMContentLoaded", f, false);
} else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28987490" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<!-- Copyright Bar -->
<section class="copyright ptb-15">
<div class="container">
    <p class="">
        © 2015 <b>Wedisson Awards</b> All Rights Reserved
        <br />
        <div class="col-md-12 mb-30">
        <ul class="link list-inline">
            <li><a href="{% url 'home' %}">Award</a></li>
            <li><a href="{% url 'photographers' %}">Photographers</a></li>
            <li><a href="{% url 'faqs' %}">FAQ</a></li>
            <li><a href="{% url 'user_register' %}">Register</a></li>
            <li><a href="{% url 'user_login' %}">Log in</a></li>
        </ul>
    </div>
    </p>
</div>
</section>
<!-- End Copyright Bar -->




</footer>
<!-- END FOOTER -->



<!-- Scroll Top -->
<a class="scroll-top">
<i class="fa fa-angle-double-up"></i>
</a>
<!-- End Scroll Top -->
