<!-- HEADER -->

<div class="container">
<div class="logo">
    <img src="{{ STATIC_URL }}images/logo_new.png" onclick='window.location.href="/";' style="cursor: pointer;"/>
<a href="/">
<div class="logo-text">International Wedding<br>Photography Contest</div>
</a>
</div>



<ul class="navlinks text-center">
<li class='active'><a href="{% url 'home' %}">AWARD</a></li>
<li><a href='/photographers'>PHOTOGRAPHERS</a></li>

    {% if not request.user.is_authenticated %}
        <li><a href="{% url 'faqs' %}">JOIN</a></li>
    {% endif %}

    {% if request.user.is_authenticated %}
        <li><a href="{% url 'my_profile' %}">Dashboard</a></li>
    {% else %}
        <li><a href="{% url 'user_login' %}">LOGIN</a></li>
    {% endif %}

</ul>

    {% if request.user.is_authenticated %}
        <a style="position: fixed; top: 15px; right: 30px;" href="{% url 'user_logout' %}">Logout</a>
    {% endif %}


</div>


<!-- END HEADER -->

