{% extends 'site_base.html' %}
{% load compress %}

{% block meta_tags %}
    {{block.super}}
{% endblock meta_tags %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block css_section %}
    {{ block.super }}
{% endblock css_section %}

{% block top_header %}
    {{ block.super }}
{% endblock top_header %}


{% block main_container %}
<!-- Site Wraper -->
<div class="wrapper">

    <!-- CONTENT --------------------------------------------------------------------------------->

    <section class="ptb ptb-15">
    <div class="container">
    <div class="row">

    <p class="mt-15 col-md-8">
    <b>Congratulations to the winners of the 12th Wedisson Awards!<br>
    13th Awards Submission is now open<br></b>
    </p>

    <!---   <p class="mt-15 col-md-8">
    <b>13th Awards Submission is now open<br>
    Results of the 12 Wedisson Award will be available on March 5
    </b><br>
    </p>--->

    </div>

    </div>
    </section>
        


<!-- Award Section -->
<section class="">
    <h2 class="text-center">Winners 2016</h2>
    <div class="container text-center previous-awards"><h5>
    <a href="#">April</a> &nbsp; &nbsp;
    <a href="#">March</a> &nbsp; &nbsp;
    <a href="#">February</a> &nbsp; &nbsp;
    <a href="#">January</a>
    </h5>
    </div>


    <div class="owl-carousel content-carousel content-slider award-slider">


    {% for k in best_photographer %}
    <div class="item">
    <div class="container">
    <div class="row">
    <div class="col-md-10 mb-sm-30">
    <img src="{{ MEDIA_URL }}{{ k.images.imagename }}" alt="Best photography image" />
    </div>
    <div class="col-md-2">
    <div class="row">
    <div class="ptb-15 col-xs-10 userthumb-main">

    <img src="{{ MEDIA_URL }}{{ k.images.profileimage }}" class="img-circle"  alt="Profile Image" /></div></div>
    <h5>{{ k.name }}<br>

{#    <i>Jonathan Udot</i> <br>#}
    {{ k.country }}</h5>
    <div class="spacer-10"></div>
    <p class="pb-30">{{ k.home_page_desc }}<br />
    </p>
    </div>
    </div>
    </div>
    </div>
    {% endfor %}



{##}
{#    <div class="item">#}
{#    <div class="container">#}
{#    <div class="row">#}
{#    <div class="col-md-10 mb-sm-30">#}
{#    <img src="{{ STATIC_URL }}photos/awards/12/25.jpg" alt="" />#}
{#    </div>#}
{#    <div class="col-md-2">#}
{#    <div class="row">#}
{#    <div class="ptb-15 col-xs-10 userthumb-main">#}
{##}
{#    <img src="{{ STATIC_URL }}images/userthumb/blank_user.png" class="img-circle"  alt="" /></div></div>#}
{#    <h5>Elena  Slesarchuk<br>#}
{##}
{#    <i>PEARL Photography by Elen</i> <br>#}
{#    United States</h5>#}
{#    <div class="spacer-10"></div>#}
{#    <p class="pb-30">Tim and Cornelia is one of the most loving and genuine couples I've even got to work with! After meeting them, I knew I wanted to go an extra mile and create an epic engagement session! I was absolutely stun when I saw this thick layer of fog when we arrived at the location! It was breathtaking!</p>#}
{#    </div>#}
{#    </div>#}
{#    </div>#}
{#    </div>#}
{##}






<div class="spacer-10"></div>
</div>
</section>
<!-- End Award Section -->


            
             <!-- Photographers Section --> 
<section class="mtb-30">
            <div class="container">
            
            <div class="row text-center ptb-60">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="h4">About us</h3>
                        <div class="spacer-15"></div>
                        <p class="lead">Wedisson is a directory of top talented wedding photographers from around the world. We choose the hard-working, exclusive and truly experienced professionals for their creativity and ability to tell a powerful story in a single image. <br><br>
"Wedisson Award" is an international wedding photography contest that held every month, providing creative, outstanding, inspirational and artistic wedding photography. We are picky and less than 5% of submitted photographs are selected by our judges. Our jury are recognized experts in wedding photojournalism and provide high standards during the judging process. Every award is added to the photographers' portfolio and is used to determine their rankings. At the end of the year we will publish top 30 worldwide photographers based on the quantity of won awards.<br><i>In March, 2016 we will publish the list of World Best Wedding Photographers based on the quantity of won awards since March 2015 till March 2016</i> </p>
                    </div>
                </div>
            
                        <div class="row">
                  <div class="mt-15 mb-60 col-md-8 col-md-offset-2 text-center">
             <a class="buttonclass" href="{% url 'faqs' %}">
<button name="submit" id="form-submit" type="submit" class="btn btn-md btn-black-line">Join us<i class="fa fa-chevron-right ml-10"></i></button></a>
</div></div>
            
            
            
                <div class="row text-center plr-25">
                    <h2>Best Photographers</h2>
                </div>
                <div class="spacer-15"></div>
                <div class="row plr-25">
                <!-- Team Box -->

                {% for k in best_photographer %}
                <div class="pb-15 col-md-2 col-sm-4 col-xs-6 plr-10 text-center">
                   <div class="team-item">
                        <a href="/profile/{{ k.username }}"><img style="width:172px; height:172px;" src="{{ MEDIA_URL }}{{ k.profile_image }}" class="img-circle" alt=""/></a>
                        <div class="team-item-info">
                            <h6 class="mb-0"><a href="/profile/{{ k.username }}">{{ k.name }}</a></h6>
                            <p><span class="gray">{{ k.country }}</span> <br>
                            <span class="awardnumber" style="font-size:14px;">{{ k.awards }} awards</span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}

                    <!-- End Team Box -->
                </div>
            </div>
            </section>
             <!-- End Photographers Section -->
             
             
    <!-- Instagram Section -->
    <section class="mtb-60">
    <div class="container">
    <div class="row text-center plr-25 ">

    {% for obj in footer %}
        {% if forloop.counter == 1 %}
            <a href="{{ obj.link }}" target="_blank">
        {% endif %}
    {% endfor %}
    <div class="instagram-block">

        {% for obj in footer %}
            <div class="col-md-3 col-sm-4 col-xs-6" style="padding:0;">
                <img alt="1" src="{{ MEDIA_URL }}/{{ obj.img }}" class="img-responsive">
            </div>
        {% endfor %}

    <div class="info">
    <div class="in">
    <div class="in">
    <h2>@WEDISSON_COM</h2>
    </div>
    </div>
    </div>
    </div>
    </a>


    </div>
    </div>
    </section>
    <!-- End Instagram Section -->
             
             

</div>
    <!-- Site Wraper End -->

{% endblock main_container %}


{% block footer %}
    {{ block.super }}
{% endblock footer %}


{% block js_section_bottom %}
    {{ block.super }}
{% endblock js_section_bottom %}

