{% extends 'site_base.html' %}
{% load compress %}

{% block meta_tags %}
    {{block.super}}
{% endblock meta_tags %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block css_section %}
    {{ block.super }}
    <style>
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: all 5000s ease-in-out 0s;
            transition-property: background-color, color;
        }

    .errorMessage{
        color: red;
    }
    </style>

{% endblock css_section %}

{% block top_header %}
{% endblock top_header %}


{% block main_container %}


    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- HEADER -->
        <div class="container">
        <div class="logo">
        <img src="{{ STATIC_URL }}images/logo_new.png" onclick='window.location.href="/";' style="cursor: pointer;"/>
        <a href="{% url 'home' %}">
        <div class="logo-text">International Wedding<br>Photography Contest</div>
        </a>
        </div>



        <ul class="navlinks text-center" id="yw0">
        <li><a href="{% url 'home' %}"><span class="login">Award</span></a></li>
{#        <li><a href="/user/login"><span class="login">Log in</span></a></li>#}
        <li><a class="button button_orange" href="{% url 'user_signup' %}">Join</a></li>
        </ul>

        </div>


        <!-- END HEADER -->


        <!-- CONTENT --------------------------------------------------------------------------------->



        <!-- breadcrumbs -->
        <div class="col-sm-12">



        <!-- Login Section -->
        <section class="pt-15 pb-80" style="">
        <div class="container">
        <div class="row text-center">
        <div class="col-md-8 col-md-offset-2 mb-15">
        <h1>Login</h1>
        </div>
        </div>
        <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="border-box">


        <form class="form-horizontal" role="form" id="user-login" action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        <div class="form-field-wrapper">
        <input autocomplete="off" class="input-sm form-full text-center"
               placeholder="Username" name="username" value="{{ login.data.username }}" type="text" required/>
            <div class="clearfix"></div>
            <div class="errorMessage">{{ login.errors.username }}
            </div>
        </div>

        <div class="form-field-wrapper">
        <input autocomplete="off" class="input-sm form-full text-center" placeholder="Password"
               name="password" type="text" value="{{ login.data.password }}" required/>
            <div class="clearfix"></div>
            <div class="errorMessage">{{ login.errors.password }}
            </div>
        </div>

        <div class="spacer-15"></div>
        <button name="submit" id="form-submit" type="submit"
                class="btn btn-md btn-black-line">Sign In <i class="fa fa-chevron-right ml-10"></i>
        </button>

        <a href="#" class="float-right">Forgot password?</a>
        </form>

        </div>
        </div>

        </div>
        </div>
        </section>
        <!-- End Login Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>


        </div><!-- content -->


    <div class="clearfix"></div>



    <!-- Scroll Top -->
    <a class="scroll-top">
    <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- End Scroll Top -->

    </div>
    <!-- Site Wraper End -->



{% endblock main_container %}



{% block footer %}
    {{ block.super }}
{% endblock footer %}


{% block js_section_bottom %}
    {{ block.super }}
{% endblock js_section_bottom %}

