{% extends 'site_base.html' %}
{% load compress %}

{% block meta_tags %}
    {{block.super}}
{% endblock meta_tags %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block css_section %}
    {{ block.super }}

<style>
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: all 5000s ease-in-out 0s;
        transition-property: background-color, color;
    }

.errorMessage{
    color: red;
}


.linkbox {
    display: inline-block;
    margin: 4px;
    padding: 5px 7px;
    border-radius: 3px;
    border: 1px solid #FECA15;
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
    line-height: normal;
    transition: all 0.25s;
    }

#nav {
width: 200px;
    margin: 0px;
    display: inline-block;

}

.navlink{
    height: 152px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#nav ul, #nav ul li {
    width: 155px;
}

#nav ul {
    position: absolute;
    margin: 0 4px;
    border-radius: 3px;
    border: 1px solid #FECA15;
    background-color: #fff;
    overflow: hidden;
    width: 155px;
    padding: 0;
    list-style:none;
    text-align: left;
}

#nav li {
    margin: 0;
    padding: 5px 7px;
    text-align: left;
    cursor: pointer;
}

#nav ul:hover {
    box-shadow: 0 0 5px rgba(76, 153, 128, 0.5);
}


#nav ul li:hover {
    background-color: #FECA15;
}


#navmenu ul {
    text-decoration: none;
}
</style>

{% endblock css_section %}

{% block top_header %}
{% endblock top_header %}


{% block main_container %}

<!-- Site Wraper -->
<div class="wrapper">

<!-- HEADER -->

<div class="container">
<div class="logo">
<a href="{% url 'home' %}">
<div class="logo-text">International Wedding<br>Photography Contest</div>
</a>
</div>


<div  id="nav">
    <a href="#" class="linkbox">FIND A PHOTOGRAPHER</a>
    <ul id="navmenu" class="navlink" style="display:none;">
        <li data-url="/best-2016"><span>Best of 2016</span></li>
        <li data-url="/best-2015"><span>Best of 2015</span></li>
        <li data-url="/best-alltime"><span>Best of All Time</span></li>
    </ul>

</div>


<ul class="navlinks text-center">

<li><a href="{% url 'home' %}">AWARD</a></li>
<li class='active'><a href="/photographers">PHOTOGRAPHERS</a></li>
{% if not request.user.is_authenticated %}
    <li><a href="{% url 'faqs' %}">JOIN</a></li>
{% endif %}
{% if request.user.is_authenticated %}
    <li><a href="{% url 'my_profile' %}">Dashboard</a></li>
{% else %}
    <li><a href="{% url 'user_login' %}">LOGIN</a></li>
{% endif %}
</ul>

{% if request.user.is_authenticated %}
    <a style="position: fixed; top: 15px; right: 30px;" href="{% url 'user_logout' %}">Logout</a>
{% endif %}


</div>


<!-- END HEADER -->




<!-- CONTENT --------------------------------------------------------------------------------->
<section class="pt-15 pb-80" style="">
<div class="container">

<div class="row text-center">
    <div class="col-md-8 col-md-offset-2" >
    <h1>Current Rating</h1>

</div>
</div>


<div class="row ptb-15 plr-25">
<style>
.productlist {position: relative;
min-height: 1px;
padding: 2px;}
.artist-photo-container {
position: absolute;
bottom: 0;
left: 0;
max-width: 20%;
margin: 15px;
border: 2px solid #FFF;
border-radius: 50%;
}
.productlist-price-container {
position: absolute;
bottom: 0;
right: 0;
max-width: 90%;
text-align: right;
z-index: 89;
margin: 22px;
}
.product-price {
background-color: #fff;
display: inline-block;
padding: 3px 9px;
font-weight: 400;
text-transform: uppercase;
font-style: normal;
line-height: 1.3em;
}
.productlist:hover .artist-photo-container {border-color: #000; transition: all .3s ease-out;-webkit-transition: all .3s ease-out;}
.productlist:hover .product-price {background-color: #000; color:#FFF;transition: all .3s ease-out;-webkit-transition: all .3s ease-out;}
</style>


{% for k in photographers %}
<div class="row ptb-15 mtb-30  photographers-list">
<div class="col-md-6  col-sm-12 ">
<div class="mb-30">
<div class="col-md-4 col-sm-6 col-xs-6 mtb-15">
<a style="border-bottom:none;" href="/profile/{{ k.user_id }}/" >
<img style="width: 133px; height: 133px;" src="{{ MEDIA_URL }}{{ k.p_image }}" class="img-circle userthumb"  alt="" /></a></div>
<div class="col-md-8 mb-15">
<h2><a href="/profile/{{ k.user_id }}" title="Wedding photographer {{ k.name }}" alt="Wedding photographer {{ k.name }}">{{ k.name }}</a></h2>
<span class="awardnumber"><i class="fa fa-asterisk"></i> {{ k.awards }} awards</span>
<div class="mt-15">
{{ k.country }} <br>
{{ k.contact }}<br>
{{ k.website_link }}<br>
</div>
</div><div class="clearfix"></div>
</div>
<div class="col-md-12 description">
<p>{{ k.desc }}</p>
</div>
</div>
<div class="col-md-6">
<a href="/profile/{{ k.user_id }}/"><img style="width: 549px; height: 364px;" src="{{ MEDIA_URL }}{{ k.c_image }}"  alt="" /></a>
</div>
</div>
<hr>
{% endfor %}


</div>




</div>
</section>
</div>
<!-- Site Wraper End -->

{% endblock main_container %}



{% block footer %}
    {{ block.super }}
{% endblock footer %}


{% block js_section_bottom %}
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="{{ STATIC_URL }}styles/js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}styles/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}styles/js/plugin/jquery.fitvids.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}styles/js/plugin/owl.carousel.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}styles/js/plugin/jPushMenu.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}styles/js/plugin/mediaelement-and-player.min.js"></script>
{#    <script src="{{ STATIC_URL }}styles/js/theme.js" type="text/javascript"></script>#}

<script>
$(document).ready(function() {
    $( "#nav" ).mouseover(function() {
      $( "#navmenu" ).css("display", "block");
    });

    $( "#nav" ).mouseout(function() {
      $( "#navmenu" ).css("display", "none");
    });


    $("#navmenu li").on("click", function(){
        var urld = $(this).data("url");
        window.location.href = urld;
    });

});
</script>
{% endblock js_section_bottom %}



























     <!-- Preloader -->

    <!-- End Preloader -->

    <!-- Sidemenu -->

    <!--End Sidemenu -->


{##}
{##}
{#    <!-- JS -->#}
{##}
{#    <script src="http://wedisson.com/styles/js/jquery-1.11.2.min.js" type="text/javascript"></script>#}
{#    <script src="http://wedisson.com/styles/js/jquery-ui.min.js" type="text/javascript"></script>#}
{#    <script src="http://wedisson.com/styles/js/plugin/jquery.fitvids.js" type="text/javascript"></script>#}
{#    <script src="http://wedisson.com/styles/js/plugin/owl.carousel.min.js" type="text/javascript"></script>#}
{#    <script src="http://wedisson.com/styles/js/plugin/jPushMenu.js" type="text/javascript"></script>#}
{#    <script src="http://wedisson.com/styles/js/plugin/mediaelement-and-player.min.js"></script>#}
{#    <script src="http://wedisson.com/styles/js/theme.js" type="text/javascript"></script>#}
{##}

{##}
{#</body>#}
{#</html>#}
{##}

