
{% extends 'site_base.html' %}
{% load compress %}

{% block meta_tags %}
    {{block.super}}
{% endblock meta_tags %}

{% block title %}
    {{ block.super }}
{% endblock title %}

{% block css_section %}
    {{ block.super }}

    <style>
    .errorMessage
    {
        color: red;
    }
    </style>
{% endblock css_section %}

{% block top_header %}
{% endblock top_header %}


{% block main_container %}

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- HEADER -->

        <div class="container">
        <div class="logo">
        <a href="{% url 'home' %}">
        <div class="logo-text">International Wedding<br>Photography Contest</div>
        </a>
        </div>


        <ul class="navlinks text-center" id="yw0">
        <li><a href="{% url 'home' %}"><span class="login">Award</span></a></li>
        <li><a href="{% url 'user_login' %}"><span class="login">Log in</span></a></li>
        </ul>

        </div>

        
        <!-- breadcrumbs -->
        <div class="col-sm-12">

            <!-- Login Section -->
            <section class="pt-15 pb-80" style="">
            <div class="container ">
            <div class="row text-center">
            <div class="col-md-8 col-md-offset-2 mb-15">
            <h1>Registration</h1>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="border-box">


            <!-- Registration form -->
            <form role="form" class="form-horizontal" id="registration-form" action="{% url 'user_signup' %}" method="post">
            {% csrf_token %}

            <div class="form-field-wrapper">
            <input autocomplete="off" class="input-sm form-full text-center"
                   maxlength="50" placeholder="First Name" name="firstname" value="{{ signupform.data.firstname }}" type="text" required/>
            <div class="clearfix"></div>
            <div class="errorMessage" >{{ signupform.errors.firstname }}
            </div>
            </div>

            <div class="form-field-wrapper">
            <input autocomplete="off" class="input-sm form-full text-center" placeholder="Last Name"
               name="lastname" type="text" value="{{ signupform.data.lastname }}" maxlength="50" />
            <div class="clearfix"></div>
            <div class="errorMessage" >{{ signupform.errors.lastname }}
            </div>
            <p style="margin-top:5px; font-size:12px; line-height:14px; color:#A7A7A7;">This First and Last Names will be written on the website and Awarded photos. Do not use the studio name. Only photos taken by this photographer may be added to this profile. Each membership and profile page is for one photographer only. If there are many photographers from the same studio, each photographer must sign up for his/her own membership account.</p>
            </div>

            <div class="form-field-wrapper">
            <input autocomplete="off" class="input-sm form-full text-center" placeholder="Business or Studio Name"
                   name="businessname" value="{{ signupform.data.businessname }}"type="text" maxlength="25" />
            <div class="clearfix"></div>
            <div class="errorMessage">{{ signupform.errors.businessname }}
            </div>
            <p style="margin-top:5px; font-size:12px; line-height:14px; color:#A7A7A7;">If applicable</p>
            </div>

            <div class="form-field-wrapper">
            <input autocomplete="off" class="input-sm form-full text-center" placeholder="Instagram Link"
                   name="instagram_link1" type="text" value="{{ signupform.data.instagram_link1 }}" maxlength="100" />
            <div class="clearfix"></div>
            <div class="errorMessage">{{ signupform.errors.instagram_link1 }}
            </div>
            <p style="margin-top:5px; font-size:12px; line-height:14px; color:#A7A7A7;"><b>Example: @wedding</b><br>
            It will be published on the website and during posting on Instagram</p>
            </div>

            <div class="form-field-wrapper">
            <input autocomplete="off" class="input-sm form-full text-center" placeholder="Username"
                   value="{{ signupform.data.username }}" name="username" type="text" maxlength="30" required/>
            <div class="clearfix"></div>
            <div class="errorMessage">{{ signupform.username.errors }}
            </div>
            </div>

            <div class="form-field-wrapper">
            <input autocomplete="off" class="input-sm form-full text-center" placeholder="Contact Number"
                   value="{{ signupform.data.primary_contact_number }}" name="primary_contact_number" type="text" maxlength="15" required/>
            <div class="clearfix"></div>
            <div class="errorMessage">{{ signupform.errors.primary_contact_number }}
            </div>
            </div>


            <div class="form-field-wrapper">
            <select class="input-sm form-full text-center" placeholder="Your Country"
                   id="awd_country" name="countryval" required >
                    <option value="-1">Select Country</option>
                {% for k in country %}
                    <option value="{{ k.id }}">{{ k.name }}</option>
                {% endfor %}

            </select>

            <div class="errorMessage">{{ signupform.errors.countryval }}
            </div>
{#            <p class="gray text-center" style="font-size:14px;">Start typing the name of your country...</p>#}
            </div>

            <div class="form-field-wrapper">
            <input autocomplete="off" class="input-sm form-full text-center" placeholder="Your City"
                   name="city" value="{{ signupform.data.city }}" type="text" value="" />
            <div class="errorMessage">{{ signupform.errors.city }}
            </div>
{#            <p class="gray text-center" style="font-size:14px;">start typing the name of your city...</p>#}
            </div>

            <div class="form-field-wrapper">
            <input autocomplete="off" class="input-sm form-full text-center" placeholder="Email"
                   name="email" value="{{ signupform.data.email }}" type="text" required/>
            <div class="clearfix"></div>
            <div id="RegistrationForm_email_em_" class="errorMessage">{{ signupform.errors.email }}
            </div>
            <p style="margin-top:5px; font-size:12px; line-height:14px; color:#A7A7A7;">Your email address will not be displayed on the website.</p>
            </div>


            <div class="form-field-wrapper">
            <input autocomplete="off" class="input-sm form-full text-center" placeholder="Password"
                   name="password" value="{{ signupform.data.password }}" type="text" maxlength="20" />
            <p class="gray text-center" style="font-size:14px;">Minimal length 6 symbols.</p>
            <div id="RegistrationForm_password_em_" class="errorMessage">{{ signupform.errors.password }}
            </div>
            </div>


            <div class="spacer-15"></div>
            <button name="submit" id="form-submit" type="submit" class="text-center btn center-block btn-md btn-black-line">Let's go!
                <i class="fa fa-chevron-right ml-10"></i>
            </button>
            </form>
            <!-- Registration form ends -->

            </div>
            </div>

            </div>
            </div>
        </section>
            <!-- End Login Section -->


<script>
$(function(){
createCitiesList("RegistrationForm_city_id");
})
</script>


</div>

<div class="clearfix"></div>

<!-- Scroll Top -->
<a class="scroll-top">
<i class="fa fa-angle-double-up"></i>
</a>


</div>

{% endblock main_container %}



{% block footer %}
    {{ block.super }}
{% endblock footer %}


{% block js_section_bottom %}
    {{ block.super }}
{% endblock js_section_bottom %}

