<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<title>Dashboard</title>

<link href="{{ STATIC_URL }}styles/css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

<link href="{{ STATIC_URL }}styles/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}styles/css/styledash.css" rel="stylesheet">
<link href="{{ STATIC_URL }}styles/css/style-responsive.css" rel="stylesheet">
<link href="{{ STATIC_URL }}styles/css/kalendar.css" rel="stylesheet">
<link href="{{ STATIC_URL }}styles/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src='{{ STATIC_URL }}styles/js/imageupload.js'></script>
<script src='{{ STATIC_URL }}styles/js/jquery.fileupload.js'></script>
<script src='{{ STATIC_URL }}styles/js/jquery.fileupload-validate.js'></script>


<style>


.error {
    font-size: 12px;
    color: red;
    display: block;
    margin-left: 26%;
    margin-bottom: 17px;
}

.progress{height: 8px !important;}
.progress-bar-success {background-color: #9fc343 !important;}
.progress_container{float: left;
    max-width: 400px;
    width: 100%;
    display: none;
    padding: 0px 20px;
    text-align: center;
    color: #999;
    box-sizing: border-box;}
</style>


</head>
<body class="dark-theme">
<div class="header navbar navbar-inverse box-shadow navbar-fixed-top">
  <div class="navbar-inner">
    <div class="header-seperation">
      <ul class="nav navbar-nav">

{#        <li class="sidebar-toggle-box"> <a href="#"><i class="fa fa-bars"></i></a> </li>#}
        <li style="visibility: hidden;"> <a href="{% url 'home' %}" class="qr-logo"><strong>qr</strong></a> </li>
        <li class="hidden-xs"> <a href="{% url 'home' %}"><i class="fa fa-angle-double-left"></i> Go to the Home page</a> </li>
        <li id="last-one"> <a href="{% url 'user_logout' %}">Log Out <i class="fa fa-angle-double-right"></i></a> </li>

      </ul><!--/nav navbar-nav-->
    </div><!--/header-seperation--> 
  </div><!--/navbar-inner--> 
</div><!--/header--> 


<div class="page-container">
<div class="nav-collapse top-margin fixed box-shadow2 hidden-xs" id="sidebar">
  <div class="leftside-navigation">
    <div class="sidebar-section sidebar-user clearfix">
{#      <div class="sidebar-user-avatar"> <a href="#"> <img alt="avatar" src="images/logo-webitude.png"> </div>#}
      <div class="sidebar-user-name">DASHBOARD</div>


    </div>
    <ul id="nav-accordion" class="sidebar-menu">
      <li>
        <h3>Options</h3>
      </li>

      <li> <a href="{% url 'my_profile' %}" {% if 'my-profile' in request.path %}class="active"{% endif %}>
          <!--<i class="fa fa-upload"></i>-->
          <span>My Profile</span>
      </a>
      </li>

      <li> <a href="{% url 'my_uploads' %}" {% if 'my-uploads' in request.path %}class="active"{% endif %}>
          <!--<i class="fa fa-upload"></i>-->
          <span>My Uploads</span>
      </a>
      </li>

      {% if show_profile == "1" %}
      <li> <a target="_blank" href="{% url 'photographerprofile' %}">
          <!--<i class="fa fa-upload"></i>-->
          <span>Description Page</span>
      </a>
      </li>
      {% endif %}

    </ul><!--/nav-accordion sidebar-menu--> 
  </div><!--/leftside-navigation--> 
</div><!--/sidebar--> 


<div id="main-content"> 
  <div class="page-content">
    <div class="row">
      <div class="col-md-12">
        <h2 class="span-box">{% comment %}<i class="fa fa-upload"></i>{% endcomment %} Welcome {{ username }}!!!</h2>
      </div><!--/col-md-12--> 
    </div><!--/row--> 
   
     <div class="row">
        <div class="col-md-12">
          <div class="block-web">
            <div class="porlets-content">


              <form class="form-horizontal group-border-dashed" action="{% url 'complete_upload' %}" id="upload_form" method="post">
                {% csrf_token %}

                <div class="form-group">
                  <label class="col-sm-3 control-label">About Yourself</label>
                  <div class="col-sm-6">
                    <input type="text" name="home_page_desc" value="{{ upload_form.data.home_page_desc }}" class="form-control" required placeholder="Enter short description" />
                    <label class="error">{{ upload_form.errors.home_page_desc }}</label>
                  </div>
                </div><!--/form-group--> 



                <div id="profile_image" {% if upload_form and upload_form.cleaned_data.profile_image|length %}data-uploaded="true"{% else %}data-uploaded="false"{% endif %} class="form-group db_uploadbox" data-imageset="profile_image">
                  <label class="col-sm-3 control-label">Upload Profile Image</label>
                  <div class="col-sm-6 db_input_box" {% if upload_form and upload_form.cleaned_data.profile_image|length %}style="display: none;"{% endif %}>
                    <!-- The file input field used as target for the file upload widget -->
                    <input class="fileupload_btn" data-postname="profile_image_name" type="file"
                           data-accept="/(\.|\/)(jpe?g|png|gif)$/i" data-max-size="25242880"
                           data-url="/fileuploadhandler/image/" name="db_image">
                  </div>

                    <div class="progress_container">
                    <p class="prog_counter"></p>
                    <div class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                    </div>
                    </div>

                    <span class="error"></span>
                    <!-- The container for the uploaded files -->
                    <div class="uploaded_files" >
                        {% if upload_form and upload_form.cleaned_data.profile_image|length %}
                            <p>
                            <img style="width:250px;height:160px;background-image:url('{{ upload_form.cleaned_data.profile_image }}');background-repeat: no-repeat;" />
                            <span>{{ upload_form.cleaned_data.profile_image_name }}</span>
                            <a style="cursor:pointer;" class="db-remove-image">&times; Remove</a>
                            <input class="aw_image" type="hidden" value="{{ upload_form.cleaned_data.profile_image }}" name="profile_image">
                            <input type="hidden" value="{{ upload_form.cleaned_data.profile_image_name }}" name="profile_image_name">
                            </p>
                        {% endif %}
                    </div>
                </div>

                <br>


                <div id="image_1" {% if upload_form and upload_form.cleaned_data.image_1|length %}data-uploaded="true"{% else %}data-uploaded="false"{% endif %} class="form-group db_uploadbox" data-imageset="image_1">
                  <label class="col-sm-3 control-label">Upload Image 1</label>

                  <div class="col-sm-6 db_input_box" {% if upload_form and upload_form.cleaned_data.image_1|length %}style="display: none;"{% endif %}>
                    <!-- The file input field used as target for the file upload widget -->
                    <input class="fileupload_btn" data-postname="image_1_name" type="file"
                           data-accept="/(\.|\/)(jpe?g|png|gif)$/i" data-max-size="25242880"
                           data-url="/fileuploadhandler/image/" name="db_image">
                  </div>

                    <div class="progress_container">
                    <p class="prog_counter"></p>
                    <div class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                    </div>
                    </div>

                    <span class="error"></span>
                    <!-- The container for the uploaded files -->
                    <div class="uploaded_files" >
                        {% if upload_form and upload_form.cleaned_data.image_1|length %}
                            <p>
                            <img style="width:250px;height:160px;background-image:url('{{ upload_form.cleaned_data.image_1 }}');background-repeat: no-repeat;" />
                            <span>{{ upload_form.cleaned_data.image_1_name }}</span>
                            <a style="cursor:pointer;" class="db-remove-image">&times; Remove</a>
                            <input class="aw_image" type="hidden" value="{{ upload_form.cleaned_data.image_1 }}"  name="image_1">
                            <input type="hidden" value="{{ upload_form.cleaned_data.image_1_name }}" name="image_1_name">
                            </p>
                        {% endif %}
                    </div>
                </div>

                <br>


                <div class="form-group">
                  <label class="col-sm-3 control-label">Image 1 Description</label>
                  <div class="col-sm-6">
                    <input type="text" name="image_1_desc" value="{{ upload_form.data.image_1_desc }}" class="form-control" required placeholder="Enter image description" />
                    <label class="error">{{ upload_form.errors.image_1_desc }}</label>
                  </div>
                </div><!--/form-group-->



                <div id="image_2" {% if upload_form and upload_form.cleaned_data.image_2|length %}data-uploaded="true"{% else %}data-uploaded="false"{% endif %} class="form-group db_uploadbox" data-imageset="image_2">
                  <label class="col-sm-3 control-label">Upload Image 2</label>
                  <div class="col-sm-6 db_input_box" {% if upload_form and upload_form.cleaned_data.image_2|length %}style="display: none;"{% endif %}>
                    <!-- The file input field used as target for the file upload widget -->
                    <input class="fileupload_btn" data-postname="image_2_name" type="file"
                           data-accept="/(\.|\/)(jpe?g|png|gif)$/i" data-max-size="25242880"
                           data-url="/fileuploadhandler/image/" name="db_image">
                  </div>

                    <div class="progress_container">
                    <p class="prog_counter"></p>
                    <div class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                    </div>
                    </div>

                    <span class="error"></span>
                    <!-- The container for the uploaded files -->
                    <div class="uploaded_files" >
                        {% if upload_form and upload_form.cleaned_data.image_2|length %}
                            <p>
                            <img style="width:250px;height:160px;background-image:url('{{ upload_form.cleaned_data.image_2 }}');background-repeat: no-repeat;" />
                            <span>{{ upload_form.cleaned_data.image_2_name }}</span>
                            <a style="cursor:pointer;" class="db-remove-image">&times; Remove</a>
                            <input class="aw_image" type="hidden" value="{{ upload_form.cleaned_data.image_1 }}" name="image_2">
                            <input type="hidden" value="{{ upload_form.cleaned_data.image_2_name }}" name="image_2_name">
                            </p>
                        {% endif %}
                    </div>
                </div>

                <br>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Image 2 Description</label>
                  <div class="col-sm-6">
                    <input type="text" name="image_2_desc" value="{{ upload_form.data.image_2_desc }}" class="form-control" required placeholder="Enter image description" />
                    <label class="error">{{ upload_form.errors.image_2_desc }}</label>
                  </div>
                </div><!--/form-group-->




                <div id="image_3" {% if upload_form and upload_form.cleaned_data.image_3|length %}data-uploaded="true"{% else %}data-uploaded="false"{% endif %} class="form-group db_uploadbox" data-imageset="image_3">
                  <label class="col-sm-3 control-label">Upload Image 3</label>

                  <div class="col-sm-6 db_input_box" {% if upload_form and upload_form.cleaned_data.image_3|length %}style="display: none;"{% endif %}>
                    <!-- The file input field used as target for the file upload widget -->
                    <input class="fileupload_btn" data-postname="image_3_name" type="file"
                           data-accept="/(\.|\/)(jpe?g|png|gif)$/i" data-max-size="25242880"
                           data-url="/fileuploadhandler/image/" name="db_image">
                  </div>

                    <div class="progress_container">
                    <p class="prog_counter"></p>
                    <div class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                    </div>
                    </div>

                    <span class="error"></span>
                    <!-- The container for the uploaded files -->
                    <div class="uploaded_files" >
                        {% if upload_form and upload_form.cleaned_data.image_3|length %}
                            <p>
                            <img style="width:250px;height:160px;background-image:url('{{ upload_form.cleaned_data.image_3 }}');background-repeat: no-repeat;" />
                            <span>{{ upload_form.cleaned_data.image_3_name }}</span>
                            <a style="cursor:pointer;" class="db-remove-image">&times; Remove</a>
                            <input class="aw_image" type="hidden" value="{{ upload_form.cleaned_data.image_3 }}" name="image_3">
                            <input type="hidden" value="{{ upload_form.cleaned_data.image_3_name }}" name="image_3_name">
                            </p>
                        {% endif %}
                    </div>
                </div>

                <br>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Image 3 Description</label>
                  <div class="col-sm-6">
                    <input type="text" name="image_3_desc" value="{{ upload_form.data.image_3_desc }}" class="form-control" required placeholder="Enter image description" />
                    <label class="error">{{ upload_form.errors.image_3_desc }}</label>
                  </div>
                </div><!--/form-group-->




                  <!-- Image 1 -->
{#                <div class="form-group db_uploadbox">#}
{#                  <label class="col-sm-3 control-label">Upload Image 2</label>#}
{#                  <div class="col-sm-6">#}
{##}
{#                    <input class="fileupload_btn" data-postname="image1" type="file"#}
{#                           data-accept="/(\.|\/)(jpe?g|png|gif)$/i" data-max-size="5242880"#}
{#                           data-url="/fileuploadhandler/image/" name="db_image">#}
{#                  </div>#}
{#                </div>#}
{##}
{##}
{#                  <!-- Image 1 -->#}
{#                <div class="form-group db_uploadbox">#}
{#                  <label class="col-sm-3 control-label">Upload Image 3</label>#}
{#                  <div class="col-sm-6">#}
{##}
{#                    <!-- The file input field used as target for the file upload widget -->#}
{#                    <input class="fileupload_btn" data-postname="image1" type="file"#}
{#                           data-accept="/(\.|\/)(jpe?g|png|gif)$/i" data-max-size="5242880"#}
{#                           data-url="/fileuploadhandler/image/" name="db_image">#}
{#                  </div>#}
{#                </div>#}
{##}
{##}
{#                  <!-- Image 1 -->#}
{#                <div class="form-group db_uploadbox">#}
{#                  <label class="col-sm-3 control-label">Upload Image 4</label>#}
{#                  <div class="col-sm-6">#}
{##}
{#                    <!-- The file input field used as target for the file upload widget -->#}
{#                    <input class="fileupload_btn" data-postname="image1" type="file"#}
{#                           data-accept="/(\.|\/)(jpe?g|png|gif)$/i" data-max-size="5242880"#}
{#                           data-url="/fileuploadhandler/image/" name="db_image">#}
{#                  </div>#}
{#                </div>#}
{##}
{##}
{#                  <!-- Image 1 -->#}
{#                  <div class="form-group db_uploadbox">#}
{#                  <label class="col-sm-3 control-label">Upload Image 5</label>#}
{#                  <div class="col-sm-6">#}
{##}
{#                    <!-- The file input field used as target for the file upload widget -->#}
{#                    <input class="fileupload_btn" data-postname="image1" type="file"#}
{#                           data-accept="/(\.|\/)(jpe?g|png|gif)$/i" data-max-size="5242880"#}
{#                           data-url="/fileuploadhandler/image/" name="db_image">#}
{#                  </div>#}
{#                </div>#}



                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
{#                    <button class="btn btn-default">Cancel</button>#}
                  </div>
                </div><!--/form-group-->

                <input type="hidden" name="username" value="{{ username }}">

              </form>
            </div><!--/porlets-content--> 
          </div><!--/block-web--> 
        </div><!--/col-md-12--> 
      </div><!--/row end-->
  </div>  <!--/page-content end--> 
</div><!--/main-content end-->
</div><!--/page-container end-->



<script>
    $(document).ready(function(){


            var fields = ['#profile_image', '#image_1', '#image_2', '#image_3'];
            $(fields.join(',')).click(function(){
                if ($(this).next().hasClass('error')){
                    $(this).next().remove();
                }
            });

            $("#upload_form").on('submit', function(e) {
                var toSubmit = true;
                var fields = ['#profile_image', '#image_1', '#image_2', '#image_3'];

                var messages = ['<label class="error">* Please upload a profile image</label>',
                    '<label class="error">* Please upload image 1</label>',
                    '<label class="error">* Please upload image 2</label>',
                    '<label class="error">* Please upload image 2</label>'
                ];



					for (k in fields){
						if ($(fields[k]).attr("data-uploaded") != "true"){
							toSubmit = false;
							if (!$(fields[k]).next().hasClass('error')){
								$(messages[k]).insertAfter($(fields[k]));
								//toSubmit = false;
							}
						}
                    }
					if (!toSubmit){
						e.preventDefault();
						return false;
					}
					return true;

            });


});

</script>

</body>
</html>
